.vscode/settings.json
1.Firmware/1.全屏显示(240x240)/USER/.vscode/settings.json
1.Firmware/1.全屏显示(240x240)/USER/FATFS.uvguix.11846
1.Firmware/2.颜色识别(白、红、绿)/USER/.vscode/settings.json
1.Firmware/2.颜色识别(白、红、绿)/USER/FATFS.uvguix.11846
1.Firmware/3.数字识别(模板匹配)/USER/.vscode/settings.json
1.Firmware/3.数字识别(模板匹配)/USER/FATFS.uvguix.11846